$colour-primary: #ff6060;
$colour-secondary: #f7f7f7;
$colour-tertiary: #ffffff;

$colour-footer: #000000;

$background-color: rgba(0, 0, 0, 0.3);
$banner-background: $background-color url('../assets/bgHomeBanner.svg');
$linear-cards: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.5) 100%
);

$breakpoint-desktop: 769px;

$wmin: 375px;
$wmax: 768px;

$about-background: $background-color url(../assets/aboutBackground.png);
$about-background-mobile: $background-color
  url(../assets/mobileAboutBackground.png);
